<a href="https://colab.research.google.com/github/rpoiate/Sheets/blob/main/Exercicio_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
# Carregue as duas planilhas do Exceldf1 = pd.read_excel('caminho/para/planilha1.xlsx')
df1 = pd.read_csv('student-mat.csv',sep=';')
df2 = pd.read_csv('student-por.csv',sep=';')
# Use a função concat para mesclar as duas planilhasdf = pd.concat([df1, df2])
# Exiba a planilha mescladaprint(df)

In [13]:
df_merged = pd.merge(df1, df2, left_index=True, right_index=True)

In [14]:
df_merged.head(490)

,school_x,sex_x,age_x,address_x,famsize_x,Pstatus_x,Medu_x,Fedu_x,Mjob_x,Fjob_x,...,famrel_y,freetime_y,goout_y,Dalc_y,Walc_y,health_y,absences_y,G1_y,G2_y,G3_y
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,4,4,4,1,1,4,6,14,13,14
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,4,5,1,3,5,8,11,13,14
392,MS,M,21,R,GT3,T,1,1,other,other,...,4,3,2,2,3,2,0,12,13,15
393,MS,M,18,R,LE3,T,3,2,services,other,...,5,3,3,1,1,1,4,14,14,15
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,3,3,2,3,2,0,14,14,16

In [ ]:
#Qual a média de idade ?

In [17]:
media = df_merged['age_x'].mean()
print(media)

16.696202531645568

In [ ]:
#Quantas Mjob são health?

In [22]:
contagem_health = (df_merged['Mjob_x'] == 'health').sum()
print(contagem_health)

34

In [ ]:
#Quantas Fjob são service?

In [23]:
contagem_service = (df_merged['Fjob_x'] == 'services').sum()
print(contagem_service)

111